<div class="view-profesores">
    <mat-card class="titulo-vista">
        <mat-card-title>
            Lista de Mensajes Enviados
        </mat-card-title>
    </mat-card>

    <div class="card card-mensaje mb20" *ngFor="let m of mensajesEnviados">
        <button mat-stroked-button color="primary" class="w100 btn-view"><span class="bold">Destinatario: </span>{{ m.usuarioRecepcion.nombre }} {{ m.usuarioRecepcion.apellido }}</button>
        <button mat-stroked-button color="primary" class="w100 btn-view"><span class="bold">Fecha Envio: </span>{{m.fechaEnvio}}</button>
        <button mat-raised-button color="primary" class="w100 btn-view-lista" [routerLink]="'/user/mensajes/'+m.mensajeId">Ver Mensaje</button>
        <button mat-stroked-button color="primary" class="w100 btn-view div3"><span class="bold">Mensaje: </span>{{m.mensaje}}</button>
    </div>

</div>
