<div class="view-categorias">
    <mat-card class="titulo-vista">
        <mat-card-title>
            Lista de Productos
        </mat-card-title>
    </mat-card>

    <mat-card class="card card-product">
        <div class="card-product-header">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    Productos De Limpieza
                </mat-card-title>
                <mat-card-subtitle class="subtitulo">
                    Productogggfdg gffg gf gf hg rg rf d dd sd wd e rf wsd frdg rfedf
                </mat-card-subtitle>
            </mat-card-header>
        </div>
        <mat-card-content>
            <mat-card-actions class="card-actions">
                <button mat-stroked-button color="primary" class="btn20 btn-view">Categoria: Armamento</button>
                <button mat-stroked-button color="primary" class="btn15 btn-view">Stock: 20</button>
                <div class="card-actions-botones">
                    <button [routerLink]="'/admin/producto/'" mat-raised-button color="primary" class="btn-actualizar">Actualizar</button>
                    <button mat-raised-button color="warn" class="btn-eliminar">Eliminar Producto</button>
                </div>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>

    <mat-card class="card card-product">
        <div class="card-product-header">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    Productos De Limpieza
                </mat-card-title>
                <mat-card-subtitle class="subtitulo">
                    Productogggfdg gffg gf gf hg rg rf d dd sd wd e rf wsd frdg rfedf
                </mat-card-subtitle>
            </mat-card-header>
        </div>
        <mat-card-content>
            <mat-card-actions class="card-actions">
                <button mat-stroked-button color="primary" class="btn20 btn-view">Categoria: Armamento</button>
                <button mat-stroked-button color="primary" class="btn15 btn-view">Stock: 20</button>
                <div class="card-actions-botones">
                    <button [routerLink]="'/admin/producto/'" mat-raised-button color="primary" class="btn-actualizar">Actualizar</button>
                    <button mat-raised-button color="warn" class="btn-eliminar">Eliminar Producto</button>
                </div>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>

    <mat-card class="card card-product">
        <div class="card-product-header">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    Productos De Limpieza
                </mat-card-title>
                <mat-card-subtitle class="subtitulo">
                    Productogggfdg gffg gf gf hg rg rf d dd sd wd e rf wsd frdg rfedf
                </mat-card-subtitle>
            </mat-card-header>
        </div>
        <mat-card-content>
            <mat-card-actions class="card-actions">
                <button mat-stroked-button color="primary" class="btn20 btn-view">Categoria: Armamento</button>
                <button mat-stroked-button color="primary" class="btn15 btn-view">Stock: 20</button>
                <div class="card-actions-botones">
                    <button [routerLink]="'/admin/producto/'" mat-raised-button color="primary" class="btn-actualizar">Actualizar</button>
                    <button mat-raised-button color="warn" class="btn-eliminar">Eliminar Producto</button>
                </div>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>

    <mat-card class="card card-product">
        <div class="card-product-header">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    Productos De Limpieza
                </mat-card-title>
                <mat-card-subtitle class="subtitulo">
                    Productogggfdg gffg gf gf hg rg rf d dd sd wd e rf wsd frdg rfedf
                </mat-card-subtitle>
            </mat-card-header>
        </div>
        <mat-card-content>
            <mat-card-actions class="card-actions">
                <button mat-stroked-button color="primary" class="btn20 btn-view">Categoria: Armamento</button>
                <button mat-stroked-button color="primary" class="btn15 btn-view">Stock: 20</button>
                <div class="card-actions-botones">
                    <button [routerLink]="'/admin/producto/'" mat-raised-button color="primary" class="btn-actualizar">Actualizar</button>
                    <button mat-raised-button color="warn" class="btn-eliminar">Eliminar Producto</button>
                </div>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>

    <mat-card class="card card-product">
        <div class="card-product-header">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    Productos De Limpieza
                </mat-card-title>
                <mat-card-subtitle class="subtitulo">
                    Productogggfdg gffg gf gf hg rg rf d dd sd wd e rf wsd frdg rfedf
                </mat-card-subtitle>
            </mat-card-header>
        </div>
        <mat-card-content>
            <mat-card-actions class="card-actions">
                <button mat-stroked-button color="primary" class="btn20 btn-view">Categoria: Armamento</button>
                <button mat-stroked-button color="primary" class="btn15 btn-view">Stock: 20</button>
                <div class="card-actions-botones">
                    <button [routerLink]="'/admin/producto/'" mat-raised-button color="primary" class="btn-actualizar">Actualizar</button>
                    <button mat-raised-button color="warn" class="btn-eliminar">Eliminar Producto</button>
                </div>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>

    <mat-card class="card card-product">
        <div class="card-product-header">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    Productos De Limpieza
                </mat-card-title>
                <mat-card-subtitle class="subtitulo">
                    Productogggfdg gffg gf gf hg rg rf d dd sd wd e rf wsd frdg rfedf
                </mat-card-subtitle>
            </mat-card-header>
        </div>
        <mat-card-content>
            <mat-card-actions class="card-actions">
                <button mat-stroked-button color="primary" class="btn20 btn-view">Categoria: Armamento</button>
                <button mat-stroked-button color="primary" class="btn15 btn-view">Stock: 20</button>
                <div class="card-actions-botones">
                    <button [routerLink]="'/admin/producto/'" mat-raised-button color="primary" class="btn-actualizar">Actualizar</button>
                    <button mat-raised-button color="warn" class="btn-eliminar">Eliminar Producto</button>
                </div>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>

    <mat-card class="card card-product">
        <div class="card-product-header">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    Productos De Limpieza
                </mat-card-title>
                <mat-card-subtitle class="subtitulo">
                    Productogggfdg gffg gf gf hg rg rf d dd sd wd e rf wsd frdg rfedf
                </mat-card-subtitle>
            </mat-card-header>
        </div>
        <mat-card-content>
            <mat-card-actions class="card-actions">
                <button mat-stroked-button color="primary" class="btn20 btn-view">Categoria: Armamento</button>
                <button mat-stroked-button color="primary" class="btn15 btn-view">Stock: 20</button>
                <div class="card-actions-botones">
                    <button [routerLink]="'/admin/producto/'" mat-raised-button color="primary" class="btn-actualizar">Actualizar</button>
                    <button mat-raised-button color="warn" class="btn-eliminar">Eliminar Producto</button>
                </div>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>

    <mat-card class="card card-product">
        <div class="card-product-header">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    Productos De Limpieza
                </mat-card-title>
                <mat-card-subtitle class="subtitulo">
                    Productogggfdg gffg gf gf hg rg rf d dd sd wd e rf wsd frdg rfedf
                </mat-card-subtitle>
            </mat-card-header>
        </div>
        <mat-card-content>
            <mat-card-actions class="card-actions">
                <button mat-stroked-button color="primary" class="btn20 btn-view">Categoria: Armamento</button>
                <button mat-stroked-button color="primary" class="btn15 btn-view">Stock: 20</button>
                <div class="card-actions-botones">
                    <button [routerLink]="'/admin/producto/'" mat-raised-button color="primary" class="btn-actualizar">Actualizar</button>
                    <button mat-raised-button color="warn" class="btn-eliminar">Eliminar Producto</button>
                </div>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>

    <mat-card class="card card-product">
        <div class="card-product-header">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    Productos De Limpieza
                </mat-card-title>
                <mat-card-subtitle class="subtitulo">
                    Productogggfdg gffg gf gf hg rg rf d dd sd wd e rf wsd frdg rfedf
                </mat-card-subtitle>
            </mat-card-header>
        </div>
        <mat-card-content>
            <mat-card-actions class="card-actions">
                <button mat-stroked-button color="primary" class="btn20 btn-view">Categoria: Armamento</button>
                <button mat-stroked-button color="primary" class="btn15 btn-view">Stock: 20</button>
                <div class="card-actions-botones">
                    <button [routerLink]="'/admin/producto/'" mat-raised-button color="primary" class="btn-actualizar">Actualizar</button>
                    <button mat-raised-button color="warn" class="btn-eliminar">Eliminar Producto</button>
                </div>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>

    <mat-card class="card card-product">
        <div class="card-product-header">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    Productos De Limpieza
                </mat-card-title>
                <mat-card-subtitle class="subtitulo">
                    Productogggfdg gffg gf gf hg rg rf d dd sd wd e rf wsd frdg rfedf
                </mat-card-subtitle>
            </mat-card-header>
        </div>
        <mat-card-content>
            <mat-card-actions class="card-actions">
                <button mat-stroked-button color="primary" class="btn20 btn-view">Categoria: Armamento</button>
                <button mat-stroked-button color="primary" class="btn15 btn-view">Stock: 20</button>
                <div class="card-actions-botones">
                    <button [routerLink]="'/admin/producto/'" mat-raised-button color="primary" class="btn-actualizar">Actualizar</button>
                    <button mat-raised-button color="warn" class="btn-eliminar">Eliminar Producto</button>
                </div>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>

    <mat-card class="card card-product">
        <div class="card-product-header">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    Productos De Limpieza
                </mat-card-title>
                <mat-card-subtitle class="subtitulo">
                    Productogggfdg gffg gf gf hg rg rf d dd sd wd e rf wsd frdg rfedf
                </mat-card-subtitle>
            </mat-card-header>
        </div>
        <mat-card-content>
            <mat-card-actions class="card-actions">
                <button mat-stroked-button color="primary" class="btn20 btn-view">Categoria: Armamento</button>
                <button mat-stroked-button color="primary" class="btn15 btn-view">Stock: 20</button>
                <div class="card-actions-botones">
                    <button [routerLink]="'/admin/producto/'" mat-raised-button color="primary" class="btn-actualizar">Actualizar</button>
                    <button mat-raised-button color="warn" class="btn-eliminar">Eliminar Producto</button>
                </div>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
    <mat-card class="card card-product">
        <div class="card-product-header">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    Productos De Limpieza
                </mat-card-title>
                <mat-card-subtitle class="subtitulo">
                    Productogggfdg gffg gf gf hg rg rf d dd sd wd e rf wsd frdg rfedf
                </mat-card-subtitle>
            </mat-card-header>
        </div>
        <mat-card-content>
            <mat-card-actions class="card-actions">
                <button mat-stroked-button color="primary" class="btn20 btn-view">Categoria: Armamento</button>
                <button mat-stroked-button color="primary" class="btn15 btn-view">Stock: 20</button>
                <div class="card-actions-botones">
                    <button [routerLink]="'/admin/producto/'" mat-raised-button color="primary" class="btn-actualizar">Actualizar</button>
                    <button mat-raised-button color="warn" class="btn-eliminar">Eliminar Producto</button>
                </div>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>

    <mat-card class="card card-product">
        <div class="card-product-header">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    Productos De Limpieza
                </mat-card-title>
                <mat-card-subtitle class="subtitulo">
                    Productogggfdg gffg gf gf hg rg rf d dd sd wd e rf wsd frdg rfedf
                </mat-card-subtitle>
            </mat-card-header>
        </div>
        <mat-card-content>
            <mat-card-actions class="card-actions">
                <button mat-stroked-button color="primary" class="btn20 btn-view">Categoria: Armamento</button>
                <button mat-stroked-button color="primary" class="btn15 btn-view">Stock: 20</button>
                <div class="card-actions-botones">
                    <button [routerLink]="'/admin/producto/'" mat-raised-button color="primary" class="btn-actualizar">Actualizar</button>
                    <button mat-raised-button color="warn" class="btn-eliminar">Eliminar Producto</button>
                </div>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>

    <mat-card class="card card-product">
        <div class="card-product-header">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    Productos De Limpieza
                </mat-card-title>
                <mat-card-subtitle class="subtitulo">
                    Productogggfdg gffg gf gf hg rg rf d dd sd wd e rf wsd frdg rfedf
                </mat-card-subtitle>
            </mat-card-header>
        </div>
        <mat-card-content>
            <mat-card-actions class="card-actions">
                <button mat-stroked-button color="primary" class="btn20 btn-view">Categoria: Armamento</button>
                <button mat-stroked-button color="primary" class="btn15 btn-view">Stock: 20</button>
                <div class="card-actions-botones">
                    <button [routerLink]="'/admin/producto/'" mat-raised-button color="primary" class="btn-actualizar">Actualizar</button>
                    <button mat-raised-button color="warn" class="btn-eliminar">Eliminar Producto</button>
                </div>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>

    <mat-card class="card card-product">
        <div class="card-product-header">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    Productos De Limpieza
                </mat-card-title>
                <mat-card-subtitle class="subtitulo">
                    Productogggfdg gffg gf gf hg rg rf d dd sd wd e rf wsd frdg rfedf
                </mat-card-subtitle>
            </mat-card-header>
        </div>
        <mat-card-content>
            <mat-card-actions class="card-actions">
                <button mat-stroked-button color="primary" class="btn20 btn-view">Categoria: Armamento</button>
                <button mat-stroked-button color="primary" class="btn15 btn-view">Stock: 20</button>
                <div class="card-actions-botones">
                    <button [routerLink]="'/admin/producto/'" mat-raised-button color="primary" class="btn-actualizar">Actualizar</button>
                    <button mat-raised-button color="warn" class="btn-eliminar">Eliminar Producto</button>
                </div>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>

    <mat-card class="card card-product">
        <div class="card-product-header">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    Productos De Limpieza
                </mat-card-title>
                <mat-card-subtitle class="subtitulo">
                    Productogggfdg gffg gf gf hg rg rf d dd sd wd e rf wsd frdg rfedf
                </mat-card-subtitle>
            </mat-card-header>
        </div>
        <mat-card-content>
            <mat-card-actions class="card-actions">
                <button mat-stroked-button color="primary" class="btn20 btn-view">Categoria: Armamento</button>
                <button mat-stroked-button color="primary" class="btn15 btn-view">Stock: 20</button>
                <div class="card-actions-botones">
                    <button [routerLink]="'/admin/producto/'" mat-raised-button color="primary" class="btn-actualizar">Actualizar</button>
                    <button mat-raised-button color="warn" class="btn-eliminar">Eliminar Producto</button>
                </div>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>

    <mat-card class="card card-product">
        <div class="card-product-header">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    Productos De Limpieza
                </mat-card-title>
                <mat-card-subtitle class="subtitulo">
                    Productogggfdg gffg gf gf hg rg rf d dd sd wd e rf wsd frdg rfedf
                </mat-card-subtitle>
            </mat-card-header>
        </div>
        <mat-card-content>
            <mat-card-actions class="card-actions">
                <button mat-stroked-button color="primary" class="btn20 btn-view">Categoria: Armamento</button>
                <button mat-stroked-button color="primary" class="btn15 btn-view">Stock: 20</button>
                <div class="card-actions-botones">
                    <button [routerLink]="'/admin/producto/'" mat-raised-button color="primary" class="btn-actualizar">Actualizar</button>
                    <button mat-raised-button color="warn" class="btn-eliminar">Eliminar Producto</button>
                </div>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>

    <div class="cont-btn-agregar">
        <button routerLink="/admin/add-producto" mat-raised-button color="primary" class="btn-agregar">Agregar Producto</button>
    </div>
</div>
