<mat-toolbar color="primary" class="header">
    <a [routerLink]="'/'" mat-button class="example-icon" aria-label="Example icon-button with menu icon">
        <fa-icon [icon]="snowIcon"></fa-icon> Systematic
    </a>

    <div>
        <a 
        [routerLink]="'/login'" 
        mat-button 
        class="example-icon favorite-icon" 
        aria-label="Example icon-button with heart icon"
        >
            Iniciar Sesión
        </a>

        <a 
            [routerLink]="'/signup'" 
            mat-button 
            class="example-icon favorite-icon" 
            aria-label="Example icon-button with heart icon"
        >
            Registrar
        </a>
    </div>
</mat-toolbar>
