@import '_variables';

input, textarea, mat-label, mat-select {
    color: $colortexto;

    &::placeholder {
        color: $colortexto;
    }
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mr20 {
    margin-right: 20px;
}