@mixin scroll($color, $colorBarra, $colorHover, $width) {
    &::-webkit-scrollbar{
        background: $color;
        width: $width;
        border-radius: .5rem;
    }

    &::-webkit-scrollbar-thumb{
        background: $colorBarra;
        border-radius: .5rem;
        &:hover , &:active {
            background: $colorHover;
        }
    }
}

@mixin division-grid($particiones) {
    display: grid;
    grid-template-columns: $particiones;
    gap: 1vw;
}

@mixin boton($bgColor, $display, $border-radius) {
    background-color: $bgColor;
    color: $colortexto;
    font-weight: bold;
    border-radius: $border-radius;
    text-decoration: none;
    padding: .3rem 2rem;
    text-align: center;
    display: $display;
    border: none;

    &:hover {
        background-color: darken($bgColor, 8);
        cursor: pointer;
    }
}