@import '_variables';
@import '_mixins';


.header {
    background-color: $tercero;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    padding: 1rem;
    align-items: center;

    .header-agregar {
        display: flex;
        gap: 1rem;
    }

    a {
        color: $colortexto;  
        .logo {
            width: 20%;
            filter: invert(100%);
        }
    }

    .header-derecha {
        display: flex;
        justify-content: flex-end;
        gap: 2rem;

        .boton-transparente {
            border: 2px solid $colortexto;
            &:hover {
                border: 2px solid $borde-btn-view;
            }
        }
    }
}

/*---------------------------------------------------------------------*/
/*---------INDEX PRINCIPAL NUEVA CLASE A AGREGAR-----------------------*/
/*---------------------------------------------------------------------*/

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: none;
    transition: .8s ease-in-out, opacity .8s linear;
    grid-template-columns: 20% 80%;

    .header-derecha a:hover {
        color: $borde-btn-view;
    }
}

.header-cambio {
    background-color: $tercero;
}

.inicio {
    position: relative;
    height: 90vh;
    overflow: hidden;
    background: url("./../../assets/img/slider-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgb(66,46,75);
        background: radial-gradient(circle, rgba(66,46,75,0.42667489359024857) 0%, rgba(56,52,57,0.6843779748227417) 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.contenido-inicio {
    text-align: center;
    z-index: 1;
    h2 {
        color: $colortexto;
        font-size: 5rem;
        margin: 0;
        font-weight: bold;
        word-spacing: 1rem;
    }  
    
    .inicio-texto {
        background-color: $gris;
        padding: 1rem 2rem;
        color: $colortexto;
        margin: 0;
        width: 100%;
        
        h2 {
            font-weight: 700;
        }
        
        p {
            font-size: 1.3rem;
            font-weight: 700;
            text-align: center;
        }
    }
}

.contenedor-fortalezas {
    padding: 1rem 3rem 10rem 3rem;
    text-align: center;
    h2 {
        color: $colortexto;
        font-size: 3rem;
    }

    .fortalezas {
        @include division-grid(repeat(4, 1fr));

        .fortaleza {
            background-color: $principal;
            border-radius: 1rem;
            padding: 1rem;
            text-align: center;
            color: $colortexto;
            transition: all .3s ease-in-out;
            border: 2px solid $principal;

            img {
                height: 20vh;
                filter: invert(100%);
            }

            &:hover {
                border: 2px solid $borde-btn-view;
            }
        }
    }
}

.footer {
    background-color: $grisOscuro;

    .footer-superior {
        .footer-contacto {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            h3 {
                border: none;
            }
        }
        
        .redes-sociales {
            padding: 1rem 0;
            display: flex;
            justify-content: center;
            gap: 3rem;
            a {
                color: $colortexto;
                font-size: 1.5rem;
                border: 2px solid $colortexto;
                padding: 1rem 1.4rem;
                border-radius: 50%;
                transition: all .3s ease-in-out;
                justify-content: center;
                align-items: center;
                text-align: center;
                img {
                    filter: invert(100%);
                }

                &:hover {
                    border: 2px solid $borde-btn-view;
                }
            }
        }
    }
    h3 {
        margin: 0;
        color: $colortexto;
        text-align: center;
        padding: 1rem 0;
        background-color: $negro;
        font-size: 1.4rem;
        border-top: 1px solid $gris;
        span {
            color: $borde-btn-view;
        }
    }
}

.contacto {
    background: linear-gradient(rgba(0,0,0,0.10),rgba(0,0,0,0.920)),url('./../../assets/img/fondo2.jpg') no-repeat center/cover;
    padding: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $colortexto;
    text-align: center;

    h2 {
        font-size: 3.5rem;
        font-weight: bold;
        margin: 0 15%;
    }

    p {
        font-size: 1.7rem;
        font-weight: 400;
        padding: 3rem 10%;
    }
    
    a {
        padding: 1rem 4rem;
    }
}

.tercera-seccion {
    padding: 10% 10% 5% 10%;
    color: $colortexto;
    text-align: center;

    h2 {
        margin-bottom: 4rem;
    }

    hr {
        width: 20%;
        margin: 10px auto;
        border-color: $borde-btn-view;
    }

    .tercera-seccion-contenido {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        margin-top: 4rem;

        .img-tercera {

            img {
                max-width: 80vh;
            }
            
            h6 {
                margin-top: 6rem;
                font-size: 1.3rem;
                font-weight: 700;
            }
        }
    }

    a {
        margin-top: 5%;
        padding: 1rem 4rem;
    }
}

.quinta-seccion {
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 9% 5% 9%;
    width: 100%;

    .quinta-seccion-izquierda {
        flex: 2;
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        gap: 2rem;
        justify-items: center;
        align-items: center;
        height: 100%;

        img {
            max-width: 100%;
            height: 90vh;
        }
    }
}

/*----------Seccion Derecha-----------*/

.quinta-seccion-derecha{
    color: $gris;
    flex: 1;
    hr {
        width: 30%;
        border-color: #f1c40f;
        margin: 0 0 10% 0;
    }

    h3 {
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 700;
    }

    p {
        margin-bottom: 8%;
    }

    a {
        padding: 1rem 4rem;
    }
}

.slider-frame {
    width: 750px;
    height: auto;

    margin:100px auto 0;
    overflow: hidden;
    justify-content: right;
}

.slider-frame ul {
    display: flex;

    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
    justify-content: right;
}

.slider-frame li {
    width: 100%;
    list-style: none;
    justify-content: right;
}

.slider-frame img {
    display: flex;
    width: 100%;
    justify-content: right;
}

@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}