/* VARIABLES COMPONENTES PRINCIPALES */
$header-admin : #E91D63;
$sidebar: #1F1F1F;
$bg-dashboard: #303030;
$bg-components: #353535;
$bg-header-component: #404040;
$scroll-thumb: #141414;
$scroll-hover: #E91D63;
$borde-btn-view: #00D977;
$bg-head-table: #1F1F1F;

/* VARIABLES DE BOTONES */
$btn-agregar: yellowgreen;
$btn-eliminar: #FE3868;
$btn-actualizar: #4A419A;

$principal: #313258;
$secundario: #1B1D3A;
$tercero: #110920;
$botonazul: #018AFC;

$colortexto: #ffffff;


$celesteneon: #05C1EF;
$gris: #e0e0e0;
$gris2: #343434;
$grisOscuro: #262626;
$negro : #000000;
$azulOscuro: #022438;
$verdef: #1B291B;
$celesef: #14C492;
$yellowGreen: yellowgreen;
$ligthsalmon: lightsalmon;
$celestesuave: #dfe4ea;
$fondorosado: #fef0f4;
/*POSIBLES NUEVOS COLORES*/
$back1: #22293F;
$back2: #20293F;
$back3: #1A2035;
$back4: #151E21;
$rosado: #E4316F;
$verdeOpcado: #5DB461;
$oro: #FFD700;