<mat-card class="sidebar">
    <mat-action-list class="sidebar-cont">
        <h2 class="c-with text-center"><fa-icon [icon]="dadoIcon"></fa-icon> Menú</h2>
        <button class="sidebar-btn" routerLink="/admin" mat-list-item>
            <mat-icon mat-list-icon>home</mat-icon> Inicio
        </button>
        <button class="sidebar-btn" mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>account_circle</mat-icon> Perfil
        </button>
        <button class="sidebar-btn" mat-list-item routerLink="/admin/turnos">
            <mat-icon mat-list-icon>inventory_2</mat-icon> Turnos
        </button>
        <button class="sidebar-btn" mat-list-item routerLink="/admin/sedes">
            <mat-icon mat-list-icon>edit_square</mat-icon> Sedes
        </button>
        <button class="sidebar-btn" mat-list-item routerLink="/admin/profesores">
            <mat-icon mat-list-icon>groups_3</mat-icon> Profesores
        </button>
        <button class="sidebar-btn" mat-list-item routerLink="/admin/estudiantes">
            <mat-icon mat-list-icon>groups_3</mat-icon> Estudiantes
        </button>
        <button class="sidebar-btn" mat-list-item routerLink="/admin/cursos">
            <mat-icon mat-list-icon>school</mat-icon> Cursos
        </button>
        <button class="sidebar-btn" mat-list-item routerLink="/admin/salones">
            <mat-icon mat-list-icon>school</mat-icon> Salones
        </button>
        <button class="sidebar-btn" mat-list-item routerLink="/admin/cursos">
            <mat-icon mat-list-icon>sms_failed</mat-icon> Reportes
        </button>
        <button class="sidebar-btn" mat-list-item routerLink="/admin/cursos">
            <mat-icon mat-list-icon>logout</mat-icon> Cerrar Sesión
        </button>
    </mat-action-list>
</mat-card>
