
<header class="header fixed">
    <a href="index.html">
        <img src="./../../../../assets/img/logo.svg" alt="imagenlogo" class="logo">
    </a>

    <div class="header-derecha">
        <a href="#">Inicio</a>
        <a href="#">Nosotros</a>
        <a href="#">Contacto</a>
        <a href="#">Anuncios</a>
        <button class="boton-transparente">Luis Fernando</button>
    </div>
</header><!--FIN HEADER-->

<section class="inicio">
    <div class="overlay">
        <div class="contenedor contenido-inicio">
            <h2>Buena Educación Dirigida Para Nuestros Estudiantes</h2>
        </div>
    </div>
</section><!--FIN INICIO-->

<section class="tercera-seccion">
    <div class="titulos">
        <h2>Nuestro día a día</h2>
        <hr>
    </div>
    <div class="tercera-seccion-contenido">
        <div class="img-tercera">
            <img src="./../../../../assets/img/desfile.jpg" alt="">
            <h6>Desfile por el comienzo del Año Escolar</h6>
            <p>Con una gran participación de estudiantes, docentes y directores de la institución, se realizó una
            ceremoniasimbólica de aperturadel año escolar 2022.</p>
        </div>
        <div class="img-tercera">
            <img src="./../../../../assets/img/presentacion.jpg" alt="">
            <h6>Juramentación de los Policias y Brigadieres</h6>
            <p>La ceremonia se realizó de manera presencial, convocando a las autoridades de la Policía Nacional del Perú
            y miembros de la municipalidad del distrito el Porvenir.
            </p>
        </div>
    </div>

    <a href="#" class="boton-verde-inline">Mas Información</a>
</section><!--FIN SECCION 3-->

<section class="contenedor-fortalezas">
    <h2>Nuestrar Fortalezas</h2>
    <div class="fortalezas">
        <div class="fortaleza">
            <img src="./../../../../assets/img/shield.svg" alt="imagen">
            <h3>Seguridad</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit optio a voluptate quam officia sapiente, laudantium nam asperiores ullam cupiditate impedit laboriosam earum soluta ipsa inventore pariatur incidunt qui excepturi.</p>
        </div><!--FIN FORTALEZA-->

        <div class="fortaleza">
            <img src="./../../../../assets/img/responsabilidad.svg" alt="imagen">
            <h3>Responsabilidad</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit optio a voluptate quam officia sapiente, laudantium nam asperiores ullam cupiditate impedit laboriosam earum soluta ipsa inventore pariatur incidunt qui excepturi.</p>
        </div><!--FIN FORTALEZA-->

        <div class="fortaleza">
            <img src="./../../../../assets/img/calidad-academica.svg" alt="imagen">
            <h3>Calidad</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit optio a voluptate quam officia sapiente, laudantium nam asperiores ullam cupiditate impedit laboriosam earum soluta ipsa inventore pariatur incidunt qui excepturi.</p>
        </div><!--FIN FORTALEZA-->

        <div class="fortaleza">
            <img src="./../../../../assets/img/school.svg" alt="imagen">
            <h3>Instalaciones</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit optio a voluptate quam officia sapiente, laudantium nam asperiores ullam cupiditate impedit laboriosam earum soluta ipsa inventore pariatur incidunt qui excepturi.</p>
        </div><!--FIN FORTALEZA-->
    </div>
</section><!--FIN SECCION 4-->

<section class="quinta-seccion">
    <div class="quinta-seccion-izquierda">
        <div class="slider-frame">
            <ul>
            <!-- slider-->
            <li><img src="./../../../../assets/img/10.jpg" alt="" class="galeria-slider"></li>
            <li><img src="./../../../../assets/img/9.jpg" alt="" class="galeria-slider"></li>
            <li><img src="./../../../../assets/img/3.jpg" alt="" class="galeria-slider"></li>
            <li><img src="./../../../../assets/img/8.jpg" alt="" class="galeria-slider"></li>
            </ul>
        </div>
    </div>

    <div class="quinta-seccion-derecha">
        <h3> Bloque de Noticias</h3>
    
        <hr>
        <p> En esta sección se informará sobre nuestras actividades y proximos eventos que se daran en la instución
            educativa.</p>
        <a href="./../../../../assets/noticia.html" class="boton-verde-inline">Más Información</a>
    </div>
</section><!--FIN SECCION 5-->

<section class="contacto">
    <h2>Dedicación en la Enseñanza De Nuestros Alumnos</h2>
    <p>Lo más importante dentro de la práctica pedagógica es la importancia que como maestros nos retorna nuestros propios alumnos.</p>
    <a href="#" class="boton-verde">Contactanos</a>
</section><!--FIN CONTACTO SECCION 6-->

<div class="Mapa_Colegio">

    <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1621.5311432868243!2d-74.9481956572513!3d-14.843613763672886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91141f02a2b29483%3A0x1c72d0b18a3b9573!2sI.E.%20%22MARIA%20PARADO%20DE%20BELLIDO%22%20-%20VISTA%20ALEGRE!5e0!3m2!1ses-419!2spe!4v1653503243878!5m2!1ses-419!2spe"
    width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<footer class="footer">
    <div class="footer-superior">
        <div class="redes-sociales">
            <a href=""><img src="./../../../../assets/img/facebook.svg" alt=""></a>
            <a href=""><img src="./../../../../assets/img/instagram.svg" alt=""></a>
            <a href=""><img src="./../../../../assets/img/whatsapp.svg" alt=""></a>
            <a href=""><img src="./../../../../assets/img/youtube.svg" alt=""></a>
        </div>

        <div class="footer-contacto">
            <h3><i class="fa-solid fa-phone"></i>980464489</h3>
            <h3><i class="fa-solid fa-envelope"></i>colegioDuende890@hotmail.com</h3>
            <h3><i class="fa-solid fa-location-dot"></i>189, C. 27 De Noviembre 169, Miraflores 15074</h3>
        </div>
    </div>
    <div class="footer-inferior">
        <h3>Todos los Derechos Reservados |<span> Colegio El Duende Feliz 2022 &copy</span></h3>
    </div>
</footer><!--FIN FOOTER-->